*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6.3rem;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.section-padding {
  padding: 6.4rem 0;
}
.section-light {
  background-color: #fff;
  color: #0a0a0a;
}
.section-dark {
  background-color: #0a0a0a;
  color: #fff;
}
.section-title {
  position: relative;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3.2rem;
}
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 60px;
  height: 4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #d76939;
}

.container {
  padding: 0 2rem;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.75);
}

.content-margin {
  margin: 4.8rem 0 0;
}

/* -- */
.navbar {
  padding: 0;
  font-size: 2rem;
  color: #fff;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}
.navbar .nav-link {
  margin-left: auto;
  color: rgba(240, 240, 240, 0.5);
}
.navbar .nav-link:hover {
  color: #dfe6e8;
}
.navbar .nav-link.active {
  color: #fff;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url("../img/header.jpg");
  background-position: 60% 0%;
  background-size: cover;
  color: #fff;
  z-index: 2;
}
.header-item {
  font-size: 2rem;
  padding: 1.5rem;
  text-decoration: none;
  color: #fff;
}

/* --- */
.aboutme-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.aboutme-footer-text {
  font-size: 1.2rem;
}
.aboutme-footer-btn {
  background-color: #d76939;
  color: #fff;
  font-size: 1.6rem;
}
.aboutme-footer-btn:hover {
  background-color: #0a0a0a;
  color: #fff;
}

.aboutme-carousel .carousel-item {
  height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutme-carousel .carousel-img-one {
  background-image: url("../img/aboutme/aboutme-carousel-1.jpg");
}
.aboutme-carousel .carousel-img-two {
  background-image: url("../img/aboutme/aboutme-carousel-2.jpg");
}
.aboutme-carousel .carousel-img-three {
  background-image: url("../img/aboutme/aboutme-carousel-3.jpg");
}

/* --- */
.prices-cards .card-col {
  margin-bottom: 2rem;
}
.prices-cards .card {
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.prices-cards .card-body {
  padding: 3rem;
}
.prices-cards .card-title {
  font-size: 2.6rem;
}
.prices-cards .card-text-divider {
  border-top: 1px solid #fff;
  width: 180px;
}
.prices-cards .card-text-divider--accent {
  border-color: #d76939;
}
.prices-cards .card-text-price {
  font-size: 2.4rem;
}
.prices-cards .card-button {
  font-size: 1.6rem;
  width: 180px;
  border: 1px solid #0a0a0a;
}
.prices-cards .card-button:hover {
  background-color: #0a0a0a;
  color: #fff;
}
.prices-cards .card-two {
  background-color: #0a0a0a;
  color: #fff;
}
.prices-cards .card-two .card-button {
  background-color: #d76939;
  color: #fff;
}
.prices-cards .card-two .card-button:hover {
  background-color: #fff;
  color: #0a0a0a;
}

/* --- */
.contact-info {
  margin-bottom: 2rem;
}
.contact-info-title {
  font-size: 2.4rem;
}
.contact-info-icon {
  font-size: 2.4rem;
  color: #d76939;
}
.contact-info, .contact-form {
  background-color: #fff;
  color: #0a0a0a;
  border: 1px solid #0a0a0a;
}
.contact-required::after {
  content: "*";
  color: #e32;
}
.contact-btn {
  width: 100%;
  font-size: 1.6rem;
  background-color: #d76939;
  color: #fff;
  border: 1px solid #fff;
}
.contact-btn:hover {
  background-color: #0a0a0a;
  color: #fff;
}

.contact-form-input, .contact-form-select {
  font-size: 1.4rem;
  height: 4rem;
}
.contact-form-area {
  font-size: 1.4rem;
}

/* --- */
.footer {
  padding: 4rem 2rem;
  background-color: #dfe6e8;
  color: #0a0a0a;
}

/* --- */
@media (min-width: 768px) {
  .section-padding {
    padding: 8rem 0;
  }

  .container {
    padding: 0 1.6rem;
  }

  .aboutme-footer-btn {
    width: 200px;
  }

  .aboutme-carousel .carousel-item {
    height: 450px;
  }

  .prices-cards .card-col {
    margin-bottom: 0;
  }
  .prices-cards .card-text-divider {
    width: 150px;
  }
  .prices-cards .card-button {
    font-size: 1.2rem;
    width: 150px;
  }
  .prices-cards .card-one, .prices-cards .card-three {
    -webkit-transform: scale(85%);
            transform: scale(85%);
  }
  .prices-cards .card-two {
    -webkit-transform: scale(90%);
            transform: scale(90%);
  }
  .prices-cards .card:hover {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }

  .contact-main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-info {
    width: 38%;
    margin-bottom: 0;
  }
  .contact-form {
    width: 60%;
  }
  .contact-btn {
    width: 200px;
  }
}
@media (min-width: 992px) {
  .section-title::after {
    left: 2px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .navbar-collapse {
    padding: 0.1rem 0;
  }
  .navbar .container {
    padding: 0 1.6rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.6rem;
  }

  .prices-cards .card {
    margin: 0;
  }
  .prices-cards .card-text-divider {
    width: 200px;
  }
  .prices-cards .card-button {
    font-size: 1.6rem;
    width: 200px;
  }
  .prices-cards .card-body {
    padding: 6rem 5rem;
  }
  .prices-cards .card-button {
    font-size: 1.8rem;
    max-width: 200px;
  }

  .contact-info {
    width: 33%;
  }
  .contact-info-icon {
    font-size: 2.8rem;
  }
  .contact-form {
    width: 64%;
  }
}
@media (min-width: 1400px) {
  .section-padding {
    padding: 10rem 0;
  }

  .header {
    background-image: url("../img/header-hq.jpg");
  }

  .aboutme-carousel .carousel-item {
    height: 550px;
  }
  .aboutme-carousel-img-one {
    background-image: url("../img/aboutme/aboutme-carousel-1-hq.jpg");
  }
  .aboutme-carousel-img-two {
    background-image: url("../img/aboutme/aboutme-carousel-2-hq.jpg");
  }
  .aboutme-carousel-img-three {
    background-image: url("../img/aboutme/aboutme-carousel-3-hq.jpg");
  }
}/*# sourceMappingURL=main.css.map */