*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.section {
  scroll-margin-top: 57px;
}
.section-padding {
  padding: 0 7.5px;
}
.section-light {
  background-color: #fff;
  color: #0a0a0a;
}
.section-dark {
  background-color: #0a0a0a;
  color: #fff;
}
.section-title {
  position: relative;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 60px;
  height: 4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #d76939;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* --- */
.navbar {
  background-color: #0a0a0a;
}

.nav-mobile,
.navbar-toggler,
.nav-desktop {
  font-size: 2rem;
}

.header {
  position: relative;
  height: 95vh;
  background-image: url("../img/header.jpg");
  background-position: 65% 50%;
  background-size: cover;
  color: #fff;
  z-index: 0;
}
.header-text {
  padding: 0 15px;
}

/* --- */
.aboutme-footer-text {
  font-size: 1.2rem;
}
.aboutme-footer-btn {
  background-color: #d76939;
  color: #fff;
  font-size: 1.6rem;
}
.aboutme-footer-btn:hover {
  background-color: #0a0a0a;
  color: #fff;
}

.carousel-item {
  position: relative;
  height: 350px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.carousel-img-one {
  background-image: url("../img/aboutme/aboutme-carousel-1.jpg");
}
.carousel-img-two {
  background-image: url("../img/aboutme/aboutme-carousel-2.jpg");
}
.carousel-img-three {
  background-image: url("../img/aboutme/aboutme-carousel-3.jpg");
}

/* --- */
.prices-cards .card {
  max-width: 350px;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.prices-cards .card-body {
  padding: 4rem;
}
.prices-cards .card-title {
  font-size: 2.6rem;
  font-weight: bold;
  text-transform: uppercase;
}
.prices-cards .card-icon {
  font-size: 4rem;
}
.prices-cards .card-button {
  font-size: 1.6rem;
  border: 1px solid #0a0a0a;
}
.prices-cards .card-button:hover {
  background-color: #0a0a0a;
  color: #fff;
}
.prices-cards .card-two {
  background-color: #0a0a0a;
  color: #fff;
}
.prices-cards .card-two .card-button {
  background-color: #d76939;
  color: #fff;
}
.prices-cards .card-two .card-button:hover {
  background-color: #fff;
  color: #0a0a0a;
}

/* --- */
.contact-info {
  margin-bottom: 0.25em;
}
.contact-info-title {
  font-size: 2.6rem;
  font-weight: bold;
  text-transform: uppercase;
}
.contact-info-icon {
  color: #d76939;
}
.contact-info, .contact-form {
  background-color: #fff;
  color: #0a0a0a;
  border: 1px solid #0a0a0a;
}
.contact-btn {
  width: 100%;
  font-size: 1.6rem;
  background-color: #d76939;
  color: #fff;
  border: 1px solid #fff;
}
.contact-btn:hover {
  background-color: #0a0a0a;
  color: #fff;
}

.contact-form-input, .contact-form-select, .contact-form-area {
  font-size: 1.4rem;
}

/* -- */
.footer {
  background-color: #dfe6e8;
  color: #0a0a0a;
}

/* --- */
@media (min-width: 768px) {
  .aboutme-footer-btn {
    width: 160px;
  }

  .carousel-item {
    height: 460px;
  }

  .prices-cards .card-button {
    font-size: 1.2rem;
  }
  .prices-cards .card-one, .prices-cards .card-three {
    -webkit-transform: scale(85%);
            transform: scale(85%);
  }
  .prices-cards .card-two {
    -webkit-transform: scale(90%);
            transform: scale(90%);
  }
  .prices-cards .card:hover {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }

  .contact-main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-info {
    width: 29.5%;
    margin-bottom: 0;
  }
  .contact-form {
    width: 70%;
  }
  .contact-btn {
    width: 160px;
  }
}
@media (min-width: 992px) {
  .section {
    scroll-margin-top: 57px;
  }
  .section-title {
    margin-left: 7.5px;
  }
  .section-title::after {
    left: 2px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .header {
    height: 65vh;
  }

  .prices-cards .card {
    margin: 0;
  }
  .prices-cards .card-body {
    padding: 6rem;
  }
  .prices-cards .card-button {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  .header {
    background-image: url("../img/header-hq.jpg");
  }

  .carousel-item {
    height: 450px;
  }
  .carousel-img-one {
    background-image: url("../img/aboutme/aboutme-carousel-1-hq.jpg");
  }
  .carousel-img-two {
    background-image: url("../img/aboutme/aboutme-carousel-2-hq.jpg");
  }
  .carousel-img-three {
    background-image: url("../img/aboutme/aboutme-carousel-3-hq.jpg");
  }
}/*# sourceMappingURL=main.css.map */