@use 'colors' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 57px;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

.section {
  &-padding {
    padding: 0 7.5px;
  }

  &-light {
    background-color: $light;
    color: $dark;
  }

  &-gray {
    background-color: $gray;
    color: $light;
  }

  &-dark {
    background-color: $dark;
    color: $light;
  }

  &-title {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 60px;
    height: 4px;
    transform: translateX(-50%);
    background-color: $accent;
  }
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

@mixin btn-hover {
  background-color: $dark;
  color: $light;
}

/* --- */

.navbar {
  background-color: $dark;

  .nav-link {
    margin-left: auto;
  }
}

.navbar,
.navbar-toggler {
  font-size: 2rem;
}

.header {
  position: relative;
  height: 95vh;
  background-image: url('../img/header.jpg');
  background-position: 65% 50%;
  background-size: cover;
  color: $light;
  z-index: 0;

  &-text {
    padding: 0 15px;
  }
}

/* --- */

.aboutme-footer {
  &-text {
    font-size: 1.2rem;
  }
  &-btn {
    background-color: $accent;
    color: $light;
    font-size: 1.6rem;

    &:hover {
      @include btn-hover;
    }
  }
}

.aboutme-carousel {
  .carousel {
    &-item {
      position: relative;
      height: 350px;
      background-position: center;
      background-size: cover;
      z-index: 0;
    }

    &-img-one {
      background-image: url('../img/aboutme/aboutme-carousel-1.jpg');
    }
    &-img-two {
      background-image: url('../img/aboutme/aboutme-carousel-2.jpg');
    }
    &-img-three {
      background-image: url('../img/aboutme/aboutme-carousel-3.jpg');
    }
  }
}

/* --- */

.prices-cards {
  .card {
    max-width: 350px;
    margin: 0 auto;
    border: 1px solid #c4c4c4;
    transition: transform 0.3s;

    &-body {
      padding: 4rem;
    }

    &-title {
      font-size: 2.6rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    &-icon {
      font-size: 4rem;
    }

    &-button {
      font-size: 1.6rem;
      border: 1px solid $dark;

      &:hover {
        @include btn-hover;
      }
    }

    &-two {
      background-color: $dark;
      color: $light;

      .card-button {
        background-color: $accent;
        color: $light;

        &:hover {
          background-color: $light;
          color: $dark;
        }
      }
    }
  }
}

/* --- */

.contact {
  &-info {
    &-title {
      font-size: 2.4rem;
    }

    &-icon {
      font-size: 2.4rem;
      color: $accent;
    }
  }

  &-info,
  &-form {
    background-color: $light;
    color: $dark;
    border: 1px solid $dark;
  }

  &-required::after {
    content: '*';
    color: #e32;
    display: inline;
  }

  &-btn {
    width: 100%;
    font-size: 1.6rem;
    background-color: $accent;
    color: $light;
    border: 1px solid $light;

    &:hover {
      @include btn-hover;
    }
  }
}

.contact-form {
  &-input,
  &-select,
  &-area {
    font-size: 1.4rem;
  }
}

/* -- */

.footer {
  background-color: $gray;
  color: $dark;
}

/* --- */

@media (min-width: 768px) {
  .aboutme-footer {
    &-btn {
      width: 160px;
    }
  }

  .aboutme-carousel {
    .carousel {
      &-item {
        height: 460px;
      }
    }
  }

  .prices-cards {
    .card {
      &-button {
        font-size: 1.2rem;
      }

      &-one,
      &-three {
        transform: scale(85%);
      }

      &-two {
        transform: scale(90%);
      }

      &:hover {
        transform: scale(100%);
      }
    }
  }

  .contact {
    &-main {
      justify-content: space-between;
    }

    &-info {
      width: 38%;
      margin-bottom: 0;
    }

    &-form {
      width: 60%;
    }

    &-btn {
      width: 200px;
    }
  }
}

@media (min-width: 992px) {
  html {
    scroll-padding-top: 59px;
  }

  .section {
    &-title {
      margin-left: 7.5px;
    }

    &-title::after {
      left: 2px;
      transform: translateX(0);
    }
  }

  .navbar {
    &-expand-lg {
      .navbar-nav {
        .nav-link {
          padding: 0.5rem 2rem;
        }
      }
    }
  }

  .header {
    height: 65vh;
  }

  .prices-cards {
    .card {
      margin: 0;

      &-body {
        padding: 6rem;
      }

      &-button {
        font-size: 1.8rem;
      }
    }
  }

  .contact {
    &-info {
      width: 33%;

      &-icon {
        font-size: 2.8rem;
      }
    }

    &-form {
      width: 64%;
    }
  }
}

@media (min-width: 1400px) {
  .header {
    background-image: url('../img/header-hq.jpg');
  }

  .aboutme-carousel {
    .carousel {
      &-item {
        height: 450px;
      }
    }

    &-img-one {
      background-image: url('../img/aboutme/aboutme-carousel-1-hq.jpg');
    }
    &-img-two {
      background-image: url('../img/aboutme/aboutme-carousel-2-hq.jpg');
    }
    &-img-three {
      background-image: url('../img/aboutme/aboutme-carousel-3-hq.jpg');
    }
  }
}
