@use 'colors' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6.3rem;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

.section {
  &-padding {
    padding: 6.4rem 0;
  }

  &-light {
    background-color: $light;
    color: $dark;
  }

  &-dark {
    background-color: $dark;
    color: $light;
  }

  &-title {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    font-size: 3.2rem;
  }

  &-title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 60px;
    height: 4px;
    transform: translateX(-50%);
    background-color: $accent;
  }
}

.container {
  padding: 0 2rem;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.75);
}

.content-margin {
  margin: 4.8rem 0 0;
}

@mixin btn-hover {
  background-color: $dark;
  color: $light;
}

/* -- */

.navbar {
  padding: 0;
  font-size: 2rem;
  color: $light;
  transition: background-color 0.6s;

  .nav-link {
    margin-left: auto;
    color: rgb(240, 240, 240, 0.5);

    &:hover {
      color: $gray;
    }
  }

  .nav-link.active {
    color: $light;
  }
}

.header {
  position: relative;
  height: 100vh;
  background-image: url('../img/header.jpg');
  background-position: 60% 0%;
  background-size: cover;
  color: $light;
  z-index: 2;

  &-item {
    font-size: 2rem;
    padding: 1.5rem;
    text-decoration: none;
    color: $light;
  }
}

/* --- */

.aboutme {
  &-img {
    object-fit: cover;
    object-position: right;
  }
}

.aboutme-footer {
  &-text {
    font-size: 1.2rem;
  }
  &-btn {
    background-color: $accent;
    color: $light;
    font-size: 1.6rem;

    &:hover {
      @include btn-hover;
    }
  }
}

.aboutme-carousel {
  .carousel {
    &-item {
      height: 350px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-img-one {
      background-image: url('../img/aboutme/aboutme-carousel-1.jpg');
    }
    &-img-two {
      background-image: url('../img/aboutme/aboutme-carousel-2.jpg');
    }
    &-img-three {
      background-image: url('../img/aboutme/aboutme-carousel-3.jpg');
    }
  }
}

/* --- */

.prices-cards {
  .card-col {
    margin-bottom: 2rem;
  }

  .card {
    margin: 0 auto;
    border: 1px solid #c4c4c4;
    transition: transform 0.3s;

    &-body {
      padding: 3rem;
    }

    &-title {
      font-size: 2.6rem;
    }

    &-text-divider {
      border-top: 1px solid $light;
      width: 180px;

      &--accent {
        border-color: $accent;
      }
    }

    &-text-price {
      font-size: 2.4rem;
    }

    &-button {
      font-size: 1.6rem;
      width: 180px;
      border: 1px solid $dark;

      &:hover {
        @include btn-hover;
      }
    }

    &-two {
      background-color: $dark;
      color: $light;

      .card-button {
        background-color: $accent;
        color: $light;

        &:hover {
          background-color: $light;
          color: $dark;
        }
      }
    }
  }
}

/* --- */

.contact {
  &-info {
    margin-bottom: 2rem;

    &-title {
      font-size: 2.4rem;
    }

    &-icon {
      font-size: 2.4rem;
      color: $accent;
    }
  }

  &-info,
  &-form {
    background-color: $light;
    color: $dark;
    border: 1px solid $dark;
  }

  &-required::after {
    content: '*';
    color: #e32;
  }

  &-btn {
    width: 100%;
    font-size: 1.6rem;
    background-color: $accent;
    color: $light;
    border: 1px solid $light;

    &:hover {
      @include btn-hover;
    }
  }
}

.contact-form {
  &-input,
  &-select {
    font-size: 1.4rem;
    height: 4rem;
  }
  &-area {
    font-size: 1.4rem;
  }
}

/* --- */

.footer {
  padding: 4rem 2rem;
  background-color: $gray;
  color: $dark;
}

/* --- */

@media (min-width: 768px) {
  .section {
    &-padding {
      padding: 8rem 0;
    }
  }

  .container {
    padding: 0 1.6rem;
  }

  .aboutme-footer {
    &-btn {
      width: 200px;
    }
  }

  .aboutme-carousel {
    .carousel {
      &-item {
        height: 450px;
      }
    }
  }

  .prices-cards {
    .card-col {
      margin-bottom: 0;
    }
    .card {
      &-text-divider {
        width: 150px;
      }

      &-button {
        font-size: 1.2rem;
        width: 150px;
      }

      &-one,
      &-three {
        transform: scale(85%);
      }

      &-two {
        transform: scale(90%);
      }

      &:hover {
        transform: scale(100%);
      }
    }
  }

  .contact {
    &-main {
      justify-content: space-between;
    }

    &-info {
      width: 38%;
      margin-bottom: 0;
    }

    &-form {
      width: 60%;
    }

    &-btn {
      width: 200px;
    }
  }
}

@media (min-width: 992px) {
  .section {
    &-title::after {
      left: 2px;
      transform: translateX(0);
    }
  }

  .navbar {
    &-collapse {
      padding: 0.1rem 0;
    }

    .container {
      padding: 0 1.6rem;
    }
  }

  .navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        padding: 1.6rem;
      }
    }
  }

  .prices-cards {
    .card {
      margin: 0;

      &-text-divider {
        width: 200px;
      }

      &-button {
        font-size: 1.6rem;
        width: 200px;
      }

      &-body {
        padding: 6rem 5rem;
      }

      &-button {
        font-size: 1.8rem;
        max-width: 200px;
      }
    }
  }

  .contact {
    &-info {
      width: 33%;

      &-icon {
        font-size: 2.8rem;
      }
    }

    &-form {
      width: 64%;
    }
  }
}

@media (min-width: 1400px) {
  .section {
    &-padding {
      padding: 10rem 0;
    }
  }

  .header {
    background-image: url('../img/header-hq.jpg');
  }

  .aboutme-carousel {
    .carousel {
      &-item {
        height: 550px;
      }
    }

    &-img-one {
      background-image: url('../img/aboutme/aboutme-carousel-1-hq.jpg');
    }
    &-img-two {
      background-image: url('../img/aboutme/aboutme-carousel-2-hq.jpg');
    }
    &-img-three {
      background-image: url('../img/aboutme/aboutme-carousel-3-hq.jpg');
    }
  }
}
